body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.wrapper {
    text-align: center;
}

.button {
    position: relative;
    top: 50%;
    width: 200px;
    height: 100px;
    display: inline-block;
}
